* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#content {
  background-color: darkolivegreen;
  width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 3fr 8fr 0.5fr;
  justify-items: center;
  gap: 15px;
}

#header {
  grid-row: 1;
  /* Background image here */
  width: 100%;
  display: grid;
  grid-template-rows: 2fr 1fr;
}

.nav-bar {
  background-color: gray;
  grid-row: 2;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  list-style: none;
  display: flex;
}

.links li {
  background-color: darkgray;
  border: 2px solid black;
  padding: 2px 4px;
}

.links li:hover {
  cursor: pointer;
}

#main {
  grid-row: 2;
  width: 60%;
  background-color: darkseagreen;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.hype {
  width: 80%;
  background-color: seagreen;
}

.hype p + p {
  margin-top: 5px;
}

.comm {
  list-style: none;
}

#footer {
  grid-row: 3;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: gray;
}