@import url('https://fonts.googleapis.com/css2?family=Rye&family=Work+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#content {
  background: url("variety-fresh-tasty-vegetables-dark.jpg");
  background-size: 100vw auto;
  font-family: 'Work Sans', sans-serif;
  color: aliceblue;
  width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 2rem 1fr 1.5rem;
  justify-items: center;
  gap: 15px;
}

h1,h2,h3,h4 {
  font-family: 'Rye', cursive;
}

#header {
  grid-row: 1;
  width: 100%;
}

.nav-bar {
  background-color: rgba(0,0,0,0.7);
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  list-style: none;
  display: flex;
  gap: 5px;
}

.links li {
  font-size: 1.5rem;
  background-color: black;
  padding: 2px 4px;
}

.links li:hover {
  cursor: pointer;
}

#main {
  grid-row: 2;
  width: 60%;
  background-color: rgba(0,0,0,0.7);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 15px;
}

#main > * {
  width: 80%;
  padding: 5px 15px;
  border-radius: 15px;
  background-color: rgba(26, 117, 26, 0.3);
}

h2,
h3,
h2 + p {
  text-align: center;
}

.hype {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.review p + p {
  margin-top: 5px;
}

.food {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.dish-name {
  grid-column: 1;
  grid-row: 1;
}

.price {
  grid-column: 2;
  grid-row: 1;
}

.calories {
  grid-column: 2;
  grid-row: 2;
}

.dish-description {
  grid-column: 1;
  grid-row: 2;
}

.dish-name,
.price {
  font-size: 1.3rem;
}

.price,
.calories {
  justify-self: end;
}

.comm {
  list-style: none;
  font-size: 1.2rem;
  margin-top: 5px;
}

#footer {
  grid-row: 3;
  width: 100%;
  background-color: rgba(0,0,0,0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

#footer a {
  text-decoration: none;
  color: aliceblue;
}

#footer a:hover {
  text-decoration: underline;
}